{% extends 'garments/base.html' %}

<head>
    <meta charset="UTF-8">

         <title>{% block title %} Garments {% endblock %}</title>



</head>
<body>
{% block body %}
    <div class="row">

        {% for garment in all_garments %}

            <div class="col-sm-4 col-lg-2">
                <div class="thumbnail">
                    <div class="product-thumb">
                        <img src="{{ garment.product_image.url }}" class="img-responsive" width="180px" height="240px">
                    </div>
                    <div class="text-center">

                        <h4 class="product-product" style="padding: 2px">
                            <b>{{ garment.product_name }}</b>
                        </h4>
                    </div>
                    <!-- View Details -->
                    <a href="{% url 'garments:detail' garment.id %}" class="btn btn-primary btn-sm center-block"
                       role="button">View Details</a>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}


</body>
</html>