{% extends 'garments/base.html' %}

<head>
    <meta charset="UTF-8">
    <title>{% block title %}men_garments{% endblock %}</title>

</head>
<body>
{% block body %}
    <div class="row">

        {% for garment in all_garments %}

            <div class="col-sm-4 col-lg-2">
                <div class="thumbnail">
                    <img src="{{ garment.product_image }}" class="img-responsive" width="230px" height="230px">
                    <div class="text-center">
                        <h4><b>{{ garment.product_name }}</b></h4>
                    </div>
                    <!-- View Details -->
                    <a href="{% url 'garments:detail' garment.id %}" class="btn btn-primary btn-sm center-block"
                       role="button">View Details</a>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}


</body>
</html>